<div class="body">
  <div class="header">
    <div class="title">World Cities Autocomplete Component</div>
  </div>
  <div class="subHeader">Start typing the name of the desired city</div>
  <div class="city-input">
    <input type="text" class="search-input" [(ngModel)]="searchText" (keyup)="onChangeInput()" />
    <div class="text-format">{{textError}}</div>
    <app-cities-drop-down [showSearches]="showSearches" [citiesToPresent]="citiesToPresent" (setCity)="setCityName($event)" ></app-cities-drop-down>
  </div>
</div>