<div class="body">
  <div class="header">
    <div class="title">World Cities Autocomplete Component</div>
  </div>
  <div class="subHeader">Start typing the name of the desired city</div>
  <div class="city-input">
    <input type="text" class="search-input" [(ngModel)]="searchText" (ngModelChange)="textUpdate.next($event)" />
    <div class="text-format">{{textError}}</div>
    <div class="dropDown" [hidden]="!showSearches">
      <div *ngFor="let city of citiesToPresent" tappable (click)="setCityName(city.cityName)" class="search-result">
       <span class="CityItem" >{{city.cityName}}</span> 
      </div>
      <div *ngIf="citiesToPresent.length == 0" class="text-notFound">No Cities found</div>
    </div>
  </div>
</div>